Jinja2

# Chinese/Japanese things
OpenCC

# General machine learning / stats
numpy
scipy
scikit-learn

# Huggingface's BERT and LLM things
tqdm
transformers
bitsandbytes
optimum
accelerate
vllm

# Evaluation tools
bert_score
rouge_metric
